@import "./variables";

body {
    background-color: $background-color;
    color: $text-matte-color;
    font-family: 'Poppins', sans-serif;
}
.title-and-para{
    .category {
        font-weight: 400;
        font-size: 0.625rem;
    }
    .para{
        font-weight: 200;
        font-size: 0.75rem;
    }
    h2{
        font-weight: 800;
        font-size: 1rem;
    }
}

.first-section-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 40px;    
}

.main-left-col {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 49%;
}
.main-right-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 49%;
}
.big-box {
    background: $boxes-color;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    min-height: 400px;
    border-radius: 30px 30px 30px 0px;
    background-image: url(../images/embassy-village.jpeg);
    background-size: auto 400px;
    h2, p{
        color: $big-box-fonts-color;
    }
    margin-bottom: 30px;
}
.black-shaded-rectangle {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
}

.author {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgb(210, 210, 210);
}

.author-thumbnail {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid $author-name-color;
    margin: 10px 10px 10px 0px;
    overflow: hidden;
    img {
        width: 32px;
    }
}
.author-text {
    display: flex;
    flex-direction: column;
    
    p{
        font-size: 0.625rem;
        font-weight: 400;
        padding: 0px;
        margin: 0px;
    }
    .author-name {
        color: $author-name-color;
    }
}

.lower-left-col {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .smaller-left-column-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 48%;
    }
    .smaller-right-column-left {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 48%;
    }
}
.small-box {
    display: flex;
    flex-direction: column;
    background: $boxes-color;
    border-radius: 30px 30px 30px 0px;
    margin-bottom: 30px;
    overflow: hidden;
}
.post-photo {
    overflow: hidden;
    img {
        width: 100%;
    }
}
.inner-box-wrapper {
    padding: 10px 20px;
}

.news-color {
    color: $news-color;
}
.category-color {
    color: $category-color;
}
.social-media-color {
    color: $social-media-color;
}
.industry-color {
    color: $industry-color;
}
.center-text {
    text-align: center;
}
.research-color {
    color: grey;
}

.smaller-left-column-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 48%;
}


.smaller-right-column-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 48%;
}