$background-color: #E1E0DC;
$boxes-color: rgb(255, 255, 255);
$author-name-color: #00A19B;
$text-matte-color: #373736;
$big-box-fonts-color: rgb(255, 255, 255);
$news-color: #9860AF;
$category-color: #F04E36;
$social-media-color: #F6861F;
$industry-color: #00A19B;

